<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<form id="dream_search_widget">
	<label for="symbol">Symbol</label>
	<input type="text" id="symbol">
	<input type="submit" id="submit" value="Search">
	<div id="autocomplete" style="text-align: left;"></div>
</form>
<script>
	window.dreamCache = [];
	window.urlPrefix = '{{ site.url }}/dict/';
	jQuery(document).ready(function($) {
		$('#dream_search_widget').submit(function(event) {
			return false;
		});
		$('#symbol').keyup(function(event) {
			let val = $(this).val().toLowerCase();
			console.log('keydown triggered, val is: '+val);
			if (val.length > 0) {
				let ch = val.substr(0, 1);
				if (ch.match(/^[a-z]$/)) {
					if (!window.dreamCache[ch]) {
						let url = window.urlPrefix+ch+'.json';
						console.log('cache miss, downloading '+url);
						$.get(url, function(res) {
							console.log('downloaded '+url);
							window.dreamCache[ch] = res;
							if (val.length > 1)
								window.updateAutoComplete(val);
						}, 'json');
					} else {
						console.log('cache hit, using '+ch);
						if (val.length > 1)
							window.updateAutoComplete(val);
					}
				}
			}
		});
	});
	window.updateAutoComplete = function(val) {
		let ch = val.substr(0, 1);
		let items = window.dreamCache[ch];
		let output = [];
		console.log('searching for: '+val);
		for (i in items) {
			if (items[i].title.toLowerCase().startsWith(val)) {
				output.push('<details>'
					+ '<summary>'+items[i].title+'</summary>'
					+ items[i].desc
					+ '</details>'
				);
			}
		}
		$('#autocomplete').html(output.join('<br>'));
	}
</script>