<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<form id="dream_search_widget">
	<label for="symbol">Symbol</label>
	<input type="text" id="symbol">
	<span id="autocomplete"></span>
	<input type="submit" id="submit" value="Search">
</form>
<script>
	window.dreamCache = [];
	jQuery(document).ready(function($) {
		$('#dream_search_widget').submit(function(event) {
			return false;
		});
		$('#symbol').onkeydown(function(event) {
			let urlPrefix = '{{ site.url }}/dict/';
			console.log(urlPrefix);
			if ($(this).val().length > 0) {
				let val = $(this).val();
				console.log(val);
				let ch = val.subString(0,1);
				console.log(ch);

			}
		});
	});
</script>